/** Spaces **/

#content {

  .chart {
    height: 150px;
  }

  // DASHBOARD
  .dashboard {

  }

  // COMPUTE
  .compute {
    .systems {
      margin-top: 20px;
      img {
        margin: 10px 30%;
        width: 40%;
      }
      a {
        display: block;
        &:hover {
          background-color: adjust-lightness($color-active, 16%);
        }
      }
    }
  }

  .storage {
    .area.area-right2 {
      height: 186px;
    }
    img {
      max-width: 100%;
      max-height: 90%;
      margin: 0 auto;
      display: inherit;
    }
  }

  .network {
    .chart {
      height: 250px;
    }
  }

  // etc...

}