$color-main: #3D85C6;
$color-border: #073763;
$color-font: #073763;
$color-font-inactive: #d0d0d0;
$color-active: #9FC5E8;
$color-background: #FFFFFF;
$color-background-inactive: #d0d0d0;

$header-height: 140px;

$responsive-threshold-mobile-portrait: 520px;
$responsive-threshold-mobile-landscape: 680px;
$responsive-threshold-tablet: 991px;

@import "compass/reset";
@import "header-footer";
@import "reset";
@import "login";

.container {
  background-color: $color-background;
  padding: 0;
  position: relative;
}

.notification-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  .alert {
    margin: 5px;
  }
}

#body {
  margin-top: 10px;

  #menu, #content {
    display: inline-block;
    float: left;
  }

  @import "side-menu";
  @import "content";
}

// Float cleaner
.cleaner {
  clear: both;
  height: 1px;
  font-size: 1px;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}
