$color-main: #3D85C6;
$color-border: #073763;
$color-font: #073763;
$color-active: #9FC5E8;

body {
  margin-top: 80px;
}

[contenteditable="true"]:focus {
  outline: none;
  text-overflow: clip;
}

#header {
  background: $color-main;
}


